@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-white;
  }

  h1 {
    @apply text-lg;
  }
  
  h2 {
    @apply text-md;
  }
  
  h3 {
    @apply text-[20px];
  }
  
  h4 {
    @apply text-[18px]
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a, span, p, input {
    @apply text-gray;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  @apply bg-black text-white text-base overflow-x-hidden;
}



* {
  box-sizing: border-box;
}
